
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  @apply bg-background font-sans;
}

.btn {
  @apply bg-yellow text-white text-xs py-3 px-11 inline-block leading-4 tracking-widest font-Roboto uppercase font-bold rounded-lg hover:bg-yellow-dark focus-visible:bg-yellow-dark active:bg-yellow-dark;
}

.btn-cart {
  @apply bg-purple-dark hover:bg-purple fill-white py-2 px-2 inline-block leading-4 tracking-widest rounded-lg;
}

.map-icon circle{
  @apply fill-white;
}

.btn-cart path{
  @apply fill-white 
}

.btn-cart.icon-cart{ 
    @apply fill-base-card inline-block w-5 h-5 align-text-bottom ;
}
  
.btn-cart-empty {
  @apply bg-yellow-light py-2 px-2 inline-block leading-4 tracking-widest rounded-lg;
}
.btn-cart-empty .icon-cart{ 
    @apply fill-yellow-dark inline-block w-5 h-5 align-text-bottom;
}
.icon-cart path, .icon-cart circle {
  @apply fill-yellow-dark text-yellow-dark;
}
.btn-trash {
  @apply bg-base-button text-base-text text-xxs py-1.5 px-2 inline-block leading-4 tracking-widest font-Roboto uppercase  rounded-lg hover:bg-base-button hover:text-base-subtitle focus-visible:bg-base-button active:bg-base-button;
}
.btn-trash.icon-trash{ 
    @apply fill-white inline-block w-4 h-4 align-text-bottom hover:bg-purple-dark focus-visible:bg-purple-dark active:bg-purple-dark ; 
}
  

.cartQty{
  @apply font-Roboto text-white bg-yellow-dark font-bold pt-[3px] pr-1 pb-[2px]  pl-1 rounded-full absolute -top-[10px] -right-[5px];
}
.uf{
    &::-webkit-calendar-picker-indicator{
        display: none !important;
    }
}

.form-container{
    grid-template-columns: 1fr 0.4fr;
}

input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus, input[type="number"]:active {
    border: none;
    outline: none;
}

[type="text"],
select,
input {
    @apply border border-base-button bg-base-input text-base-text px-3 py-3 block w-full rounded-lg focus:border-yellow-dark focus:ring-transparent focus:placeholder:text-base-label placeholder:text-base-label;
}

[type="text"].icon-left ,
select.icon-left ,
input.icon-left  {
    @apply fill-purple pl-4;
}

[type="text"].icon-right ,
select.icon-right ,
input.icon-right  {
    @apply fill-purple pr-1;
}
    
.fade-in{
  opacity: 1;
  transition: opacity 2s ease;
}

.fade-out{
  opacity: 0;
  transition: opacity 2s ease;
}

.payment-type{
  @apply border-transparent;
}

.payment-type.active{
  @apply !border-purple;
}